{% block view-archived %}
<div class="view-modal" id="viewModal">
    <div class="view-modal-content">
        <span class="close-view-modal">&times;</span>
        <div class="view-modal-header">
            <h2 id="view-modal-title"></h2>
        </div>
        <div class="view-modal-body" id="view-modal-body"></div>
        <div class="view-modal-footer">
            <button class="btn btn-secondary close-view-modal-btn">Close</button>
        </div>
    </div>
</div>
{% endblock view-archived %}